<!DOCTYPE html>
<html>
	<head>
		<title>Veoneer log book</title>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">
		<script>
			// Tranfer python variables to javascript
			var month, days
			rfid_array = []
			check_data = []
			months = []
			{% for r in db_month %}
			console.log("{{r[0]}}");
			month = "{{r[0]}}";
			days = {{r[1]}};
			{% endfor %}
			{% for id in db_rfids %}
			rfid_array.push("{{id[0]}}")
			{% endfor %}
			{% for data in db_check_data %}
			check_data.push(["{{data[0]}}", "{{data[1]}}", "{{data[2]}}"])
			{% endfor %}
			{% for mn in last_months %}
			months.push("{{mn[0]}}")
			{% endfor %}
		</script>
	</head>
	<body>
	<ul>
		<menu_header>
			<li><a id="homepage" href="{{ url_for('main') }}">Home</a></li>
			<li><a id="logbookpage" href="{{ url_for('logbook') }}">Logbook</a></li>
			<li><a id="statisticspage" href="{{ url_for('stats') }}">Statistics</a></li>
			<img src="{{url_for('static', filename='/img/veoneer_logo.png')}}" alt="Veoneer" align="right">
		</menu_header>
	</ul>
   <hr class="hr1">
	<div id="bodyId" class='body'>
		<div style="display: inline-block; width: 100%;">
			<form id="filter_monthFORM" class="form4" method="POST">
				<select id='filter_monthID' name="filter_month" class="select_form1">
					<option value="" disabled selected hidden>Select month</option>
				</select>
			</form>
			<form id="filter_sortbyFORM" class = "form4" method="POST">
				<select id='filter_sortID' name="filter_sortby" class="select_form1">
					<option value="" disabled selected hidden>Sort by</option>
					<option value="rfid_high">Id (high)</option>
					<option value="rfid_low">Id (low)</option>
				</select>
				<button type="submit" >Sort</button>
			</form>
		</div>
		<input type="button" onClick="printdiv('bookBody')" value=" Print out " style="position:relative; left: 85%; top:2px;">
		<div id="bookBody">
			<div id="logbookId">
			</div>
		</div>
	</div>
	<script src="{{ url_for('static', filename='/js/main.js') }}"></script>
	</body>
</html>