<!DOCTYPE html>
<html>
	<head>
		<title>Veoneer log book</title>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">
		<script src="https://kit.fontawesome.com/e473267142.js" crossorigin="anonymous"></script>
		<script>
			dbArray = []
			{% for col in data %}
			dbArray.push("{{col[0]}},{{col[1]}},{{col[2]}}")
			{% endfor %}
			// Table colums and rows
			var cols = 3;
			var rows = {{ table_rows }}
			var boxNames = []
			// Count existing pages (Math.ceil make decimal number into integer)
			var existingPages = Math.ceil( dbArray.length / rows );
			var rows_in_choosen_page = [rows]
		</script>
	</head>
	<body>
	<ul>
		<menu_header>
			<li><a onclick="#">Home</a></li>
			<li><a onclick="#">Statistics</a></li>
			<img src="{{url_for('static', filename='/img/veoneer_logo.png')}}" alt="Veoneer" align="right">
		</menu_header>
	</ul>
	<hr class="hr1">
	<div id="bookBodyId" class='bookBody'>
		<form class="viewDays" method="POST">
			<div>
				<select name="sort_select">
					<option value="sort">Sort by</option>
					<option value="today">Today</option>
					<option value="this_week">This week</option>
					<option value="this_month">This month</option>
					<option value="last_week">Last week</option>
					<option value="last_month">Last month</option>
				</select>
			</div>
			<div class="forms">
				<select name="rows_form">
					<option value="sort_rows">Table rows</option>
					<option value="10">10</option>
					<option value="20">20</option>
					<option value="40">40</option>
				</select>
			</div>
			<button type="submit" class="forms">Filter</button>
		</form>
		<div id="logBookId" class="logBook">
			<div class="logBookHeader" style="border-top-left-radius: 15% 50%"><h3>Id</h3></div>
			<div class="logBookHeader"><h3>ESD</h3></div>
			<div class="logBookHeader" style="border-top-right-radius: 15% 50%"><h3>Time</h3></div>
		</div>

	</div>
	<div id="pageNumbersAreaId" class="pageNumbersArea">
		<div id="previousArrow" class="left">
			<img src="{{url_for('static', filename='/img/previous.png')}}" alt="Veoneer" align="right" onclick="previousArrow()">
		</div>
		<div id="numbersAreaId" class="center"></div>
		<div id="nextArrow" class="right">
			<img src="{{url_for('static', filename='/img/next.png')}}" alt="Veoneer" align="right" onclick="nextArrow()">
		</div>
	</div>
	<script src="{{ url_for('static', filename='/js/main.js') }}"></script>
	</body>
</html>