<!DOCTYPE html>
<html>
	<head>
		<title>Veoneer log book</title>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">
	</head>
	<body>
	<ul>
		<menu_header>
			<li><a href="#">Home</a></li>
			<li><a href="{{ url_for('stats') }}">Statistics</a></li>
			<img src="{{url_for('static', filename='/img/veoneer_logo.png')}}" alt="Veoneer" align="right">
		</menu_header>
	</ul>
	<hr class="hr1">
	<div class="center">
		<h1>Statistics page</h1>
	</div>
	</body>
</html>